#
# WFS - Wan Failover Script
# Configuration file
#
TARGETS_FILE={{ wfs_targets_file }}
PRIMARY_GW={{ wfs_primary_gateway }}
SECONDARY_GW={{ wfs_secondary_gateway }}
MAX_LATENCY={{ wfs_max_latency }}
INTERVAL={{ wfs_interval }}
TEST_COUNT={{ wfs_test_count }}
THRESHOLD={{ wfs_threshold }}
COOLDOWNDELAY01={{ wfs_cooldown_delay_one }}
COOLDOWNDELAY02={{ wfs_cooldown_delay_two }}
MAIL_TARGET={{ wfs_mail_target }}
DAEMON={{ wfs_is_daemon }}
QUIET={{ wfs_is_quiet }}
PIDFILE={{ wfs_pid_file }}
PRIMARY_CMD={{ wfs_primary_command }}
SECONDARY_CMD={{ wfs_secondary_command }}
DEBUG={{ wfs_debug_level }}

